# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment variables
.env
.env.*

# IDE/editor
.idea/
.vscode/

# Test/coverage
.pytest_cache/
.coverage
htmlcov/

